.main{
    background-color: #e8e8e8;

}
.container{
    min-height: 100vh;
    background-color: #dcdcdc;

}
.btn.btn-primary{
    margin-top: 15px;
}
#row-form{
    padding-top: 50px;
}